$primary-color: white;
$light-whitesmoke: #f1f1f1;
$whitesmoke: whitesmoke;
$bluish-white: hsl(178, 14%, 75%);

$orange: hsl(39, 100%, 60%);

$lightgreen: rgb(68, 160, 100);
$darkgreen: hsl(141, 40%, 35%);

$very-lightblue: hsl(197, 53%, 82%);
$lightblue: hsl(197, 53%, 42%);
$blue: hsl(197, 53%, 32%);
$darkblue: hsl(197, 53%, 22%);
$very-darkblue: rgb(27, 49, 62);
$blackish-blue: rgb(10, 20, 36);

$rem-base: 2rem;
$width-tablet: 910px;